.detalle{
   width: 25rem;
   border: 2px solid black;
   display: flex;
   margin: 3rem 5rem;
   flex-direction: column;
   font-size: 1.2rem;
   font-family:sans-serif;
   box-shadow: 2px 2px 2px red;
   background-color: white;
   font-family: 'Comic Neue', cursive;
   font-size: 1.5rem;
   background-image: url("https://img.freepik.com/premium-vector/pop-art-background_489510-857.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   
}
.detalle img{
    width: 25rem;
}
.detalle p{
    margin: 1rem auto;
    color: white;
    text-shadow: 5px 5px 5px black;
}
.info {
    display: flex;
    justify-content: center;
    text-align: center;
   background-image: url("https://freerangestock.com/sample/144286/abstract-pop-art-inspired-background.jpg");
background-repeat: no-repeat;
background-size: cover;
}