.card{
  width: 20rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  margin: 3rem 5rem;
  flex-direction: column;
  font-size: 1.2rem;
  font-family:sans-serif;
  box-shadow: 2px 2px 2px lightgreen;
  background-image: url("https://t4.ftcdn.net/jpg/02/87/11/31/360_F_287113142_8XLkz9kGNKWdvazBEgl8GoymDG5YBsa9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.card p {
    margin: 2rem auto;
}
.card button{
    width: 10rem;
    margin: 2rem auto;
    height: 2rem;
    background-color: yellow;
    box-shadow:5px 5px 5px red;
    border-radius: 4rem;
    
    
}
