.item-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("https://png.pngtree.com/background/20210717/original/pngtree-abstract-pop-art-comic-background-with-blank-speech-bubble-illustration-premium-picture-image_1417201.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}